.cms-control-menu {
	@include cms-hairline-border(bottom);

	h1.tbar-section {
		display: -webkit-box;
		overflow: hidden;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 2;
	}

	@include media-breakpoint-down(sm) {
		.tbar-item {
			padding-left: 0.25rem;
			padding-right: 0.25rem;
		}
	}
}

.top-bar {
	top: var(--control-menu-container-height);
}
