.sidebar-container {
	@include cms-hairline-border(right);

	background-color: $light-l1;

	.lfr-layout-structure-item-sidebar & {
		position: fixed;
	}
}

.cms-sidebar-nav {
	@include media-breakpoint-up(md) {
		@include cms-hairline-border(right);

		background-color: $gray-100;
		max-width: var(--sidebar-layout-width, 280px);
		min-height: var(--sidebar-layout-height);
		min-width: var(--sidebar-layout-width, 280px);
		scroll-behavior: smooth;
	}
}

.fds .sidebar-light {
	@include cms-hairline-border(left);

	box-shadow: none;
}
