.sidebar-container {
	@include cms-hairline-border(right);

	background-color: $light-l1;

	.lfr-layout-structure-item-sidebar & {
		position: fixed;
	}
}

.sidebar-layout .sidebar-container .sidebar {
	.menubar-primary .nav-link {
		&:focus-visible,
		&:hover,
		&.active {
			background-color: $light;
		}

		&:hover:before {
			background-color: $gray-600;
			content: '';
			height: 100%;
			left: 0;
			position: absolute;
			top: 0;
		}

		&:hover:not(.active):before {
			width: 2px;
		}
	}

	@media (min-height: 480px) {
		.sidebar-header {
			background-color: $white;
			position: sticky;
			top: 0;
			z-index: 9;
		}
	}
}

.cms-sidebar-nav {
	@include media-breakpoint-up(md) {
		@include cms-hairline-border(right);

		background-color: $gray-100;
		max-width: var(--sidebar-layout-width, 280px);
		min-height: var(--sidebar-layout-height);
		min-width: var(--sidebar-layout-width, 280px);
		scroll-behavior: smooth;
	}
}

.fds .sidebar-light {
	@include cms-hairline-border(left);

	box-shadow: none;
}
