/// This map outputs custom properties in the `:root` selector, use the Sass `map-merge` function to add additional custom properties to `:root`.

$c-root: () !default;
$c-root: map-merge(
	(
		--clay-primary: #{$blue},
		--clay-primary-d1: #{clay-darken($blue, 7.5)},
		--clay-primary-d2: #{clay-darken($blue, 10)},
		--clay-primary-l0: #{clay-lighten($blue, 17.06)},
		--clay-primary-l1: #{clay-lighten($blue, 22.94)},
		--clay-primary-l2: #{clay-lighten($blue, 32.94)},
		--clay-primary-l3: #{clay-lighten($blue, 44.9)},
		--clay-secondary: #{$gray-600},
		--clay-secondary-d1: #{clay-darken($gray-600, 7.5)},
		--clay-secondary-d2: #{clay-darken($gray-600, 10)},
		--clay-secondary-l0: #{clay-lighten($gray-600, 15.29)},
		--clay-secondary-l1: #{clay-lighten($gray-600, 22.94)},
		--clay-secondary-l2: #{clay-lighten($gray-600, 32.94)},
		--clay-secondary-l3: #{clay-lighten($gray-600, 44.9)},
		--clay-success: #{$green},
		--clay-success-d1: #{clay-darken($green, 7.5)},
		--clay-success-d2: #{clay-darken($green, 10)},
		--clay-success-l1: #{clay-lighten($green, 22.94)},
		--clay-success-l2: #{clay-lighten($green, 32.94)},
		--clay-info: #{$cyan},
		--clay-info-d1: #{clay-darken($cyan, 7.5)},
		--clay-info-d2: #{clay-darken($cyan, 10)},
		--clay-info-l1: #{clay-lighten($cyan, 22.94)},
		--clay-info-l2: #{clay-lighten($cyan, 32.94)},
		--clay-warning: #{$yellow},
		--clay-warning-d1: #{clay-darken($yellow, 7.5)},
		--clay-warning-d2: #{clay-darken($yellow, 10)},
		--clay-warning-l1: #{clay-lighten($yellow, 22.94)},
		--clay-warning-l2: #{clay-lighten($yellow, 32.94)},
		--clay-danger: #{$red},
		--clay-danger-d1: #{clay-darken($red, 7.5)},
		--clay-danger-d2: #{clay-darken($red, 10)},
		--clay-danger-l1: #{clay-lighten($red, 22.94)},
		--clay-danger-l2: #{clay-lighten($red, 32.94)},
		--clay-light: #{$gray-100},
		--clay-light-d1: #{clay-darken($gray-100, 7.5)},
		--clay-light-d2: #{clay-darken($gray-100, 10)},
		--clay-light-l1: #{clay-lighten($gray-100, 22.94)},
		--clay-light-l2: #{clay-lighten($gray-100, 32.94)},
		--clay-dark: #{$gray-800},
		--clay-dark-d1: #{clay-darken($gray-800, 7.5)},
		--clay-dark-d2: #{clay-darken($gray-800, 10)},
		--clay-dark-l1: #{clay-lighten($gray-800, 22.94)},
		--clay-dark-l2: #{clay-lighten($gray-800, 32.94)},
	),
	$c-root
);
