@mixin cms-dropzone {
	background-color: $light;
	border-radius: 4px;
	outline: 2px dashed $secondary-l2;
	transition-duration: 0.2s;
	transition-property: background-color, outline;
	transition-timing-function: ease-in-out;
}
