<footer class="container-fluid">
	<div class="px-5 py-2 row">
		<div class="col-sm-12">
			<a data-lfr-editable-id="link" data-lfr-editable-type="link" href="#" id="fragment-${fragmentEntryLinkNamespace}-link">
				Return to Top
			</a>
		</div>
	</div>

	<div class="bg-light px-5 py-2 row">
		<div class="col-sm-9">
			<ul class="list-inline mx-n3">
				<li class="list-inline-item mx-3">
					<a class="link-primary" href="#">Link Primary 1</a>
				</li>
				<li class="list-inline-item mx-3">
					<a class="link-primary" href="#">Link Primary 2</a>
				</li>
				<li class="list-inline-item mx-3">
					<a class="link-primary" href="#">Link Primary 3</a>
				</li>
				<li class="list-inline-item mx-3">
					<a class="link-primary" href="#">Link Primary 4</a>
				</li>
			</ul>
		</div>

		<div class="col-sm-3 pt-3">
			<address>
				<div>
					<a class="link-secondary" href="tel:1-800-555-5555">(800) 555-GOVT</a>
				</div>

				<div>
					<a class="link-secondary" href="mailto:info@agency.gov">info@agency.gov</a>
				</div>
			</address>
		</div>
	</div>

	<div class="autofit-row-center bg-secondary px-5 py-2 row">
		<div class="autofit-col autofit-col-expand col">
			<div class="sticker sticker-circle sticker-secondary sticker-xl">IMG</div>
		</div>

		<div class="autofit-col col-auto">
			Agency Contact Center
		</div>
	</div>
</footer>