<footer class="container-fluid">
	<div class="px-5 py-2 row">
		<div class="col-sm-12">
			<a data-lfr-editable-id="link" data-lfr-editable-type="link" href="#" id="fragment-${fragmentEntryLinkNamespace}-link">
				Return to Top
			</a>
		</div>
	</div>

	<div class="bg-light px-5 py-2 row">
		<div class="col-sm-12">
			<ul class="list-inline mx-n3">
				<li class="list-inline-item mx-3">
					<a class="link-primary" href="#">Link Primary 1</a>
				</li>
				<li class="list-inline-item mx-3">
					<a class="link-primary" href="#">Link Primary 2</a>
				</li>
				<li class="list-inline-item mx-3">
					<a class="link-primary" href="#">Link Primary 3</a>
				</li>
				<li class="list-inline-item mx-3">
					<a class="link-primary" href="#">Link Primary 4</a>
				</li>
			</ul>
		</div>
	</div>

	<div class="autofit-row-center bg-secondary px-5 py-2 row">
		<div class="autofit-col autofit-col-expand col">
			<div>
				<span class="sticker sticker-circle sticker-secondary sticker-xxl">IMG</span>
				<span>Name of Agency</span>
			</div>
		</div>

		<div class="autofit-col col-auto">
			<ul class="list-inline">
				<li class="list-inline-item">
					<a class="btn btn-lg btn-monospaced" href="#facebook">
						[@clay["icon"] symbol="social-facebook" className="social-facebook"/]
					</a>
				</li>
				<li class="list-inline-item">
					<a class="btn btn-lg btn-monospaced" href="#x">
						[@clay["icon"] symbol="twitter-x" className="twitter-x"/]
					</a>
				</li>
				<li class="list-inline-item">
					<a class="btn btn-lg btn-monospaced" href="#youtube">YT</a>
				</li>
				<li class="list-inline-item">
					<a class="btn btn-lg btn-monospaced" href="#instagram">
						[@clay["icon"] symbol="social-instagram" className="social-instagram"/]
					</a>
				</li>
				<li class="list-inline-item">
					<a class="btn btn-lg btn-monospaced" href="#rss">
						[@clay["icon"] symbol="rss" className="rss"/]
					</a>
				</li>
			</ul>

			<div class="h4">Agency Contact Center</div>
			<div>
				<a class="link-secondary" href="#rss">(800) 555-GOVT</a>
				<a class="link-secondary" href="#rss">info@agency.gov</a>
			</div>
		</div>
	</div>
</footer>