@import 'atlas-custom-properties/_variables';
@import 'atlas-variables';

@import '../cms_mixins';

.multiple-file-uploader {
	.modal-body.inline-scroller {
		max-height: 600px;
	}

	.dropzone {
		@include cms-dropzone;

		height: 160px;
		padding: 0.75rem;

		&-drag-active {
			background-color: $primary-l3;
			outline-color: $primary;
		}
	}

	.loading-message {
		inset: 0;
		top: 0;
		z-index: 10;
	}

	.sticker-border-secondary {
		border: 1px solid $secondary-l3;
	}
}
